@media (min-width: 600px) {
    body {
        background-color: silver;
    }
}

@media (max-width: 599px) {
    body {
        background-color: olive;
    }
}


h1 {
    color: blueviolet;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td,th {
    border: 1px solid black;
    padding: 2px;
}

#secondheader{
    color: green;
}

.bestheaders{
    color: red;
}

h2:hover{
    background-color: rosybrown;
}